cache
home
!workspace/
workspace/*
!workspace/rpi-build/
workspace/rpi-build/*
!workspace/rpi-build/conf
!workspace/rpi-build/conf/*
!workspace/sources
!workspace/sources/meta-hubshuffle
!workspace/sources/meta-hubshuffle/*
